	<style>
		.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   background-color: rgba(0, 0, 0, 0.993);
		   color: white;
		   text-align: center;
		}
		.content-breadcrumb {
			display: flex;
			justify-content: flex-end;
			color: rgba(41, 145, 131, 0.993)!important;
		}
		.field {
			display: flex;
			margin-inline-start: 2px;
			margin-inline-end: 2px;
			padding-block-start: 0.35em;
			padding-inline-start: 0.75em;
			padding-inline-end: 0.75em;
			padding-block-end: 0.625em;
			min-inline-size: min-content;
			border-width: 2px;
			border-style: groove;
			border-color: threedface;
			border-image: initial;
		}
		.legend {
			display: block;
			width: initial;
			padding-inline-start: 2px;
			padding-inline-end: 2px;
			border-width: initial;
			border-style: none;
			border-color: initial;
			border-image: initial;
		}
		.content-input {
			display: flex;
		}
		.col-custom {
			-webkit-box-flex: 0;
			flex: 0 0 7.666667%;
			max-width: 7.666667%;
		}
		.no-border {
			border: none;
		}
		.col-6-cstm {
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 50%;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 60%;
		}
		.max {
			width: 100%;
		}
		.content-absolute {
			position: absolute;
			top: -4%;
			left: 74%;
		}
        .field{
            color: black;
        }
		</style>
</head>
<!-- body -->


  <!--services start -->
  <div class="about_main">
    <div class="services_main">
      <div class="container">
        <div class="creative_taital">
          <nav class="flex-ends">
            <ol class="breadcrumbs">
                <li class="breadcrumb-item active">
                    <a href="index_user.html" class="text-dark">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="jadwal-user.html" class="text-dark">Jadwal</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#" class="active-a text-dark">Detail Jadwal</a>
				</li>
            </ol>
          </nav>
          <form role="form">
            <form role="form">
				<fieldset class="field">
					<legend class="legend">Seminar Proposal</legend>
						<div class="col-12">
							<div class="col-6-cstm p-0">
								<div class="content-input my-2">
									<label for="exampleInputNim" class="col-custom p-0 mr-2 my-0 ml-0">
										Nim
									</label>
									<input type="text" class="no-border" value=":&nbsp;0102001" id="exampleInputNim" readonly>
								</div>
								 
								<div class="content-input my-2">
									<label for="exampleInputNama" class="col-custom p-0 mr-2 my-0 ml-0">
										Nama
									</label>
									<input type="text" class="no-border" value=":&nbsp;Ahmad Budiman" id="exampleInputNama" readonly>
								</div>
								
								<div class="content-input my-2">
									<label for="exampleInputNama" class="col-custom p-0 mr-2 my-0 ml-0">
										Prodi
									</label>
									<input type="text" class="no-border" value=":&nbsp;Teknik Informatika" id="exampleInputProdi" readonly>
								</div>
								
								<div class="content-input my-2">
									<label for="exampleInputNama" class="col-custom p-0 mr-2 my-0 ml-0">
										Judul
									</label>
									<input type="text" class="no-border text-nowrap max" 
											value=":&nbsp;Hasil Seminar Rancang Bangun Aplikasi Tugas Akhir Berbasis Web Menggunakan HTML 5" 
											id="exampleInputJudul" readonly>
								</div>
								
								<div class="content-input my-2">
									<label for="exampleInputNama" class="col-custom p-0 mr-2 my-0 ml-0">
										Waktu
									</label>
									<input type="datetime" class="no-border max" value=":&nbsp;Senin, 4 Januari 2021, 13:00" id="exampleInputWaktu" readonly>
								</div>
		
								<div class="content-input my-2">
									<label for="exampleInputNama" class="col-custom p-0 mr-2 my-0 ml-0">
										Ruang
									</label>
									<input type="text" class="no-border" value=":&nbsp;Zoom Online" id="exampleInputRuang" readonly>
								</div>
							</div>
							<div class="content-absolute col">
								<div class="content-input my-2">
									<label for="exampleInputNim" class="col-custom p-0 mr-2 my-0 ml-0">
										Pembimbing
									</label>
									<input type="text" class="no-border" value=":&nbsp;Sirojul Munir S.SI, M.KOM" id="exampleInputNim" readonly>
								</div>
								 
								<div class="content-input my-2">
									<label for="exampleInputNama" class="col-custom p-0 mr-2 my-0 ml-0">
										Penguji
									</label>
									<input type="text" class="no-border" value=":&nbsp;Ahmad Rio M.SI" id="exampleInputNama" readonly>
								</div>
							</div>
						</div>
				</fieldset>
            <button type="button" class="mt-2 btn btn-primary"><a href="daftarseminar_ahmad.html" style="color: white;">Daftar Peserta</a>
            </button>
        </form>
    </div>
</div>

      <!--Contact_section start -->
      <div class="contact_main">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="touch_text">Kontak Kami</h1>
            </div>
          </div>
        </div>
        <div class="contact_section_2">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="map_icon">
					<img src="image/nf_again.jpg" style="max-width: 50%;padding-left: 30px; ">
					<p class="">
					  Jl. Raya Lenteng Agung No.20, RT.4/RW.1, Srengseng Sawah, 
					  Kec. Jagakarsa, Kota Jakarta Selatan, DKI Jakarta 12640
					</p>
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="map_icon">
					<img src="image/tilpun.png" style="max-width: 50%;padding-left: 30px;">
					<p >+62 857 1624 3174</p>
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="map_icon">
					<img src="image/stt_again.jpg" style="max-width: 50%; padding-left: 30px;">
					<p >info@nurulfikri.ac.id</p>
				  </div>
              </div>
            </div>
          </div>
        </div>
        <!--Contact_section end -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <p class="copyright_text">© 2020 SISTA. All rights reserved | Design by Kelompok 2
                  <a href="https://html.design">
                    Mahasiswa STT NF</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        <!-- Javascript files-->
        <script src="verification.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>