<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>cron</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/register.css">
  <link rel="stylesheet" type="text/css" href="css/breadcrumb.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="css/responsive.css">
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!-- owl stylesheets -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen">

</head>
<!-- body -->

<body class="about_page">
  <div class="header_main">
    <div class="container">
      <div class="logo">
        <h1 class="font-weight-bold">
          Sistem Informasi Seminar Tugas Akhir - SISTA
        </h1>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="container">
      <!--  header inner -->
      <div class="col-sm-12">
        <div class="menu-area">
          <nav class="navbar navbar-expand-lg ">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index_user.html">HOME
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="jadwal-user.html">JADWAL</a>
                </li>
                <li class="#" href="#">
                  <a class="nav-link" href="daftar-seminar.html">DAFTAR SEMINAR</a>
                </li>
                <li class="#" href="#">
                  <a class="nav-link" href="berita_user.html">BERITA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about_user.html">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PROFIL</a>
                </li>
                <li class="last"><a href="index.html">LOGOUT</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- end header end -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center">Log In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <form id="login-form" action="index.html">
            <div class="form-group">
              <label class="col-form-label">Username</label>
              <input id="emaillogin" type="text" class="form-control" placeholder=" " name="Name" required="">
            </div>
            <div class="form-group">
              <label class="col-form-label">Password</label>
              <input id="pwlogin" type="password" class="form-control" placeholder=" " name="Password" required="">
            </div>
            <div class="right-w3l">
              <button type="submit" class="btn btn-primary">
                Login
              </button>
            </div>
            <div class="sub-w3l">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                <label class="custom-control-label" for="customControlAutosizing">Remember me?</label>
              </div>
            </div>
            <p class="text-center dont-do mt-3">Don't have an account?
              <button href="#" class="btn btn-link" data-toggle="modal" data-target="#exampleModal2">
                Register Now</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <label class="col-form-label">Nama</label>
              <input type="text" class="form-control" placeholder=" " name="Name" required="">
            </div>
            <div class="form-group">
              <label class="col-form-label">Email</label>
              <input type="email" class="form-control" placeholder=" " name="Email" required="">
            </div>
            <div class="form-group">
              <label class="col-form-label">Password</label>
              <input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
            </div>
            <div class="form-group">
              <label class="col-form-label">Confirm Password</label>
              <input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2"
                required="">
            </div>
            <div class="right-w3l">
              <button type="submit" class="btn btn-danger">
                Register
              </button>
            </div>
            <div class="sub-w3l">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
                <label class="custom-control-label" for="customControlAutosizing2">I Accept to the Terms &
                  Conditions</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--services start -->
  <div class="about_main">
    <div class="services_main">
      <div class="container">
        <div class="creative_taital">
          <nav class="flex-ends">
            <ol class="breadcrumbs">
              <li class="breadcrumb-item active">
                <a href="index.html" class="text-dark">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#" class="active-a text-dark">Profil User</a>
              </li>
            </ol>
          </nav>
          <div class="container register">
            <div class="row">
              <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3 class="text-white">Profil User</h3>
              </div>
              <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">
                      Data Pribadi
                    </h3>
                    <form action="">
                      <div class="register-form">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-secondary">NIM</label>
                              <input type="text" id="nim" class="form-control" value="0110120115">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-secondary">Nama</label>
                              <input type="text" id="nama" class="form-control" value="Wati">
                            </div>
                          </div>
                        </div>
  
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-secondary">Username</label>
                              <input type="text" id="username" class="form-control" value="user123">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-secondary">Prodi</label>
                              <input type="text" id="prodi" class="form-control" value="Sistem Informasi">
                            </div>
                          </div>
                        </div>
                    
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-secondary">Tanggal Lahir</label>
                              <input type="text" id="tanggal_lahir" class="form-control" value="01 Januari 2020">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-secondary">Jenis Kelamin</label>
                              <input type="text" id="jenis_kelamin" class="form-control" value="Perempuan">
                            </div>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3" onclick="return profiluser()">Simpan</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Contact_section start -->
      <div class="contact_main">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="touch_text">Kontak Kami</h1>
            </div>
          </div>
        </div>
        <div class="contact_section_2">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="map_icon">
                  <img src="image/nf_again.jpg" style="max-width: 50%;padding-left: 30px; ">
                  <p class="">
                    Jl. Raya Lenteng Agung No.20, RT.4/RW.1, Srengseng Sawah, 
                    Kec. Jagakarsa, Kota Jakarta Selatan, DKI Jakarta 12640
                  </p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="map_icon">
                  <img src="image/tilpun.png" style="max-width: 50%;padding-left: 30px;">
                  <p >+62 857 1624 3174</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="map_icon">
                  <img src="image/stt_again.jpg" style="max-width: 50%; padding-left: 30px;">
                  <p >info@nurulfikri.ac.id</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Contact_section end -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <p class="copyright_text">© 2020 SISTA. All rights reserved | Design by Kelompok 2
                  <a href="https://html.design">
                    Mahasiswa STT NF</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Javascript files-->
  <script>
    $('#datepicker').datepicker({
      uiLibrary: 'bootstrap4'
    });
  </script>
  <script>
    $('#timepicker').timepicker({
      uiLibrary: 'bootstrap4'
    });
  </script>
  <script src="js/jquery.min.js"></script>
  <script src="verification.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <script>
    function profiluser() {
      let nim = document.getElementById("nim").value;
      let nama = document.getElementById("nama").value;
      let username = document.getElementById("username").value;
      let prodi = document.getElementById("prodi").value;
      let tanggal_lahir = document.getElementById("tanggal_lahir").value;
      let jenis_kelamin = document.getElementById("jenis_kelamin").value;

      if (nim == "" || nama == "" || username == "" || prodi == "" || tanggal_lahir == "" || jenis_kelamin == "") {
        alert("Anda harus mengisi semua data terlebih dahulu");
      } 
      else {
        alert("Profil berhasil diubah");
      }
    }
  </script>
</body>

</html>